<h2>Esqueceu sua senha?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

<section>
    <fieldset>
        <article>
            <p>
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true %>
            </p>    
        </article>

        <article>
            <%= f.submit "enviar email" %>
        </article>
<% end %>
        <article>
            <%= render "confirmable/shared/links" %>
        </article>    
    </fieldset>
</section> 