<h2>Criar uma conta</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<section>
    <fieldset>
        <article>
            <p>
                <%= f.label :name %><br />
                <%= f.text_field :name %>
            <p/>
        </article>
        
        <article>
            <p>    
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true %>
            <p/>
        </article>
        
        <article>
            <p>        
                <%= f.label :login %><br />
                <%= f.text_field :login %>
            <p/>
        </article>
        
        <article>
            <p>    
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off" %>
            </p>
        </article>
        
        <article>
            <p>
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
            <p/>
        </article>
        
        <article>
            <p>
                <%= f.label :enabled %>
                <%= f.check_box :enabled %>
            <p/>
        </article>    

        <button>
            <%= f.submit "Criar conta" %>
        </button>
<% end %>
        <article>
            <%= render "devise/shared/links" %>
        </article>    
    </fieldset>
</section>