<% if @requestForTransfer.errors.any? %>
  <div id="error_explanation">
    <h2>Infelizmente não foi possível completar a ação pois o formulário possui os seguintes erros:</h2>
    <ul>
      <% @requestForTransfer.errors.full_messages.each do |message|%>
        <li><%= message %> </li>
    <% end %>
  </ul>
  </div>
  <% end %>
  <p>
  <strong>Pasta:</strong>
  <%= @requestForTransfer2.folder %>
  <%= @requestForTransfer2.name %>
  </p>
<strong>Para qual turma deseja ir?:</strong>
<%= form_for @requestForTransfer do |f| %>
    <%= f.label :team %><br>
    <%= f.text_field :team %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>