<h2>Reenviar e-mail para desbloqueio</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

<section>
    <fieldset>
        <article>
            <p>
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true %>
            </p>    
        </article>    

        <button>
            <%= f.submit "Reenviar e-mail" %>
        </button>    

<% end %>
        <article>
            <%= render "users/shared/links" %>
        </article>    
    </fieldset>    
</section>      
