<!DOCTYPE html>
<% if @search.errors.any? %>
  <div id="error_explanation">
    <h2>Infelizmente não foi possível completar a ação pois o formulário possui os seguintes erros:</h2>
    <ul>
      <% @search.errors.full_messages.each do |message|%>
        <li><%= message %> </li>
    <% end %>
  </ul>
  </div>
<% end %>
    <body>
        <%= form_for (@search) do |f| %>
        <section>
            <article>
                <fieldset>
                    <p>
                        <%= f.label :Nº_de_Pasta %>
                        <%= f.text_field :N_PASTA %>
                    </p>
                    <p class='help'>
                        Insira o número de pasta contido na sua carteirinha de aluno.
                    </p>
                </fieldset>
            </article>    
            <article>
                <button>
                    <%= f.submit %>
                </button>
                <radio-button>
                    <%= f.radio_button :CONDICAO,false, :checked => true%>
                </radio-button>    
            </article>
        </section>
        <% end %>
    </body>
